body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* =================================== Main Section =============================== */
h1{
    font-size: 40px;
    color: rgb(53, 51, 51);
}
h2{
    font-weight: 700;
}
.main-section{
    display: flex;
}
.main-div1{
    width: 50%;
    margin-left: 10%;
    margin-top: 8%;
}
.main-div{
    width: 50%;
}
.main-div img{
    width: 70%;
}
.main-header{
    font-family: 'Montserrat Alternates', sans-serif;
    border-left: 5px solid orange;
    border-image-slice: 1;
    border-radius: 3px;
}
.main-header h1{
    font-size: 50px;
    color: rgb(53, 51, 51);
}
span{
    color: rgb(218, 54, 87);
}
.main-para{
    width: 70%;
    text-align: justify;
}
a{
    text-decoration: none;
    background-color: rgb(231, 118, 43);
    color: papayawhip;
    padding: 10px 40px;
    border-radius: 20px;
}
small{
    display: block;
    margin-top: 30px;
}


/* =================================== Mission Section =============================== */

#mission{
    background-color: rgb(235, 244, 250);
}
#vission{
    background-color: rgb(250, 233, 236);
}
#goals{
    background-color: rgb(253, 228, 193);
}
.mis-header{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.mis-area{
    display: flex;
    width: 80%;
    margin-left: 8.5%;
}
.mis-items{
    width: 100%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 30px;
}
.mis-items p{
    font-size: 13px;
}
.mis-items img{
    width: 40%;
}


/* =================================== Develop Section =============================== */

.develop-section{
    display: flex;
    margin-top: 70px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}
.dev-items{
    margin-right: 50px;
    padding-right: 15%;
}
.dev-img img{
    width: 60%;
    border-radius: 20px;
    margin-left: 24%;
}
.dev-para{
    text-align: justify;
}

/* =================================== Global Section =============================== */

.global-section{
    display: flex;
    margin-top: 60px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom right;
}
.dev-items-2{
    margin-left: 11%;
}

/* =================================== Finance Section =============================== */

.fin-items{
    display: flex;
    width: 90%;
    margin-top: 5%;
}
.fin-header{
    text-align: center;
    margin-top: 7%;
}
.fin-img img{
    width: 150%;
    margin-left: 100px;
}
.fin-items-2{
    margin-left: 200px;
    padding-left: 100px;
    width: 100%;
}

/* =================================== Footer Section =============================== */

.footer{
    text-align: center;
    background-color: black;
    padding: 5px;
}
.f-header{
    font-size: 30px;
    color: blanchedalmond;
}
.f-para{
    color:rgb(146, 157, 255);
}